# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual env
env/
venv/

# VSCode
.vscode/

# Environment variables
.env

# Static and media (optional)
staticfiles/
media/

# OS
.DS_Store
