<header>
    <title>{{title}}</title>
</header>

<body>
    <h1>{{title}}</h1>
    
    <form action=" {% url "index" %} "
          meyhod="Post">

          <table class='table'>
            <tr>
                <td>
                    社員番号
                </td>
                <td>
                    得点
                </td>
            </tr>
            {% for item in data %}
            <tr>
                <td>
                    {{item.employ_no}}
                </td>
                <td>
                   {{item.score}}
                </td>
            </tr>
            {% endfor %}


    </form>

</body>