<header>
    <title>{{title}}</title>
</header>

<body>
    <h1>{{title}}</h1>
    
    <form action=" {% url "index" %} "
          meyhod="Post">

          <table class='table'>
            <tr>
                <td>
                    店舗名
                </td>
                <td>
                    都市部
                </td>
            </tr>
            {% for item in data %}
            <tr>
                <td>
                    {{item.name}}
                </td>
                <td>
                   {{item.isCity}}
                </td>
            </tr>
            {% endfor %}


    </form>

</body>